@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Regular.eot');
  src: url('./fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Apercu-Regular.woff2') format('woff2'),
    url('./fonts/Apercu-Regular.woff') format('woff'),
    url('./fonts/Apercu-Regular.ttf') format('truetype'),
    url('./fonts/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Italic.eot');
  src: url('./fonts/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Apercu-Italic.woff2') format('woff2'),
    url('./fonts/Apercu-Italic.woff') format('woff'),
    url('./fonts/Apercu-Italic.ttf') format('truetype'),
    url('./fonts/Apercu-Italic.svg#Apercu-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Bold.eot');
  src: url('./fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Apercu-Bold.woff2') format('woff2'),
    url('./fonts/Apercu-Bold.woff') format('woff'),
    url('./fonts/Apercu-Bold.ttf') format('truetype'),
    url('./fonts/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-BoldItalic.eot');
  src: url('./fonts/Apercu-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Apercu-BoldItalic.woff2') format('woff2'),
    url('./fonts/Apercu-BoldItalic.woff') format('woff'),
    url('./fonts/Apercu-BoldItalic.ttf') format('truetype'),
    url('./fonts/Apercu-BoldItalic.svg#Apercu-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

.apercu {
  font-family: Apercu, var(--sans-serif);
}
